h1 {
    border-bottom: 5px dotted ;
     color: rgba(234, 0, 247, 0.705);
     width: 1000px;
     margin: auto auto;
     text-shadow: 4px 4px rgb(0, 0, 0);
     background-color: rgb(111, 247, 179);
    
     
    
 
 }
 hr {
     color: rgb(78, 250, 126);
 }
 body {
     font-family: 'Lucida Sans', 
     text-align center;
     padding: 10px;
     font-size: 20px;
     text-transform: uppercase;
     border: 5px solid rgb(221, 35, 238); 
      background-color: rgb(255, 255, 255);  
     
 }
 header {
     text-align: center;
 }
 main {
     margin: 50px auto;
     width: 1200px;
 
 padding: 20px;
 }
 h2{
    border-bottom: 7px  ;
    color: rgb(0, 0, 0);
    width: 1000px;
    margin: auto auto;
    text-shadow: 2px 4px rgb(203, 93, 218);
   
 }

    
 
 h3 {
     color: rgb(119, 0, 143);
     font-family: "Lucida Console"
     

  }
 p{     
  text-indent: 50px;
  line-height: 150%;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 130%;
  border-radius: 10px;
  font-family: "Lucida Handwriting";


}


  body {

  }
main {
    width: 1200px;
    margin: auto auto;
    
    padding: 20px;
}
.otazka {
    color: rgb(0, 0, 0);
    background-color: rgb(229, 221, 230);
    padding: 3mm;
    border-radius: 5px
    font-family: "Lucida Handwriting"
    text-indent: 50px;
  line-height: 150%;
  margin-left: 30px;
  margin-right: 70px;
  font-size: 120%;

}
.odpoved {
    text-indent: 50px;
  line-height: 100%;
  margin-left: 50px;
  margin-right: 50px;
    
}

table, td{
    border: 1x solid rgb(0, 0, 0)
    border-collapse: collapse;
    border-style: solid;
    border-radius: 5px
   
    

}

td, th {
    padding: 5px 25px;
}

th{
    background-color: rgb(111, 247, 179);
    color: rgb(36, 8, 31);
}
.error {
    background-color: rgb(243, 146, 143);
}
