h1 {
    border-bottom: 5px dotted ;
     color: rgba(234, 0, 247, 0.705);
     width: 1000px;
     margin: auto auto;
     text-shadow: 4px 4px rgb(0, 0, 0);
     background-color: rgb(111, 247, 179);
     border-radius: 5px
    
     

    }
 h2{
        border-bottom: 7px  ;
        color: rgb(0, 0, 0);
        width: 1000px;
        margin: auto auto;
        text-shadow: 2px 4px rgb(203, 93, 218);
       
     }
     
h3 {
         color: rgb(119, 0, 143);
         font-family: "Lucida Console";
     }

 h4{
        border-bottom: 3px dotted rgb(215, 70, 252);
        border-radius: 15px;
    
        margin-right: 600px;

    }
    header {
        text-align: center;
    }

 body {
     text-align:center ;
    
    font-family: "Arial";
    font-size: 70%;
       border-radius: 20px;
       text-transform: uppercase ;
       padding: 50px;
       border: 5px solid rgb(221, 35, 238); 
        background-color: rgb(255, 255, 255);  
        text-align: left;
        margin-left: 70px;
        margin-right: 70px;
        text-align: left;
        
 }
      
main {
    width: 1300px;
    margin: auto auto;
    font-family: "Arial";  
    padding: 20px;
    margin: 50px auto;
}
 p{     
  text-indent: 10px;
  line-height: 150%;
  margin-left: 5px;
  margin-right: 180px;
  font-size: 130%;
  }

 


.otazka {
 color: rgb(0, 0, 0);
 background-color: rgb(229, 221, 230);
 padding: 3mm;
 margin-left: 30px;
 margin-right: 30px;
 font-size: 130%;
 font-family: "Arial";
 width: 1000px;
 margin:  5px 10px;
 
}
.odpoved {
    margin: unset;
    line-height: 150%;
    margin-right: 150px;
    font-size: 140%;
    font-family: "Arial";

}
.odstavec {
  margin-right: 150px;
  font-size: 110%;
  font-family: "Arial";

}
.error {
    background-color: rgb(243, 146, 143);

}
.silny {
background-color: rgb(111, 247, 179);
border-radius: 5px;
color: black

}
.kurziva {
    color: rgb(119, 0, 143);

}
.zavorky {
    color: rgb(51, 1, 61);
}
.zkratky {
    background-color: rgb(164, 247, 205);
    border-radius: 3px;



ul {
margin-right: 150px;
font-size: 110%;
font-family: "Arial";
    
}
table, td{
    border: 1x solid rgb(0, 0, 0)
    border-collapse: collapse;
    border-style: solid;
    border-radius: 5px;
    margin: 20px 0px;

}
td, th {
    padding: 5px 25px;

}
th{
    background-color: rgb(111, 247, 179);
    color: rgb(36, 8, 31);

}
hr {
    color: rgb(78, 250, 126);

}
